<table class="points-table">
    <thead class="points-table__table-header">
        <th class="table-header__cell">X</th>
        <th class="table-header__cell">Y</th>
        <th class="table-header__cell">R</th>
        <th class="table-header__cell">Попал</th>
        <th class="table-header__cell">Дата</th>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>5</td>
            <td>Да</td>
            <td>01.02.23 11:41:23</td>
        </tr>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>5</td>
            <td>Да</td>
            <td>01.02.23 11:41:23</td>
        </tr>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>5</td>
            <td>Да</td>
            <td>01.02.23 11:41:23</td>
        </tr>
    </tbody>
</table>