<table class="points-table">
    <thead class="points-table__table-header">
        <th class="table-header__cell">X</th>
        <th class="table-header__cell">Y</th>
        <th class="table-header__cell">R</th>
        <th class="table-header__cell">Попал</th>
        <th class="table-header__cell">Дата</th>
    </thead>
    <tbody>
        <tr *ngFor="let point of points">
            <td>{{ point.x }}</td>
            <td>{{ point.y }}</td>
            <td>{{ point.r }}</td>
            <td>{{ point.hit ? 'Да' : 'Нет' }}</td>
            <td>{{ point.created | date }}</td>
        </tr>
    </tbody>
</table>