@import "/src/app/shared/styles/mixins.scss";

.point-panel {
  > * {
    @include card;
  }

  &__point-form {
    @apply overflow-auto;
  }
}

.point-form {

  &__submit {
    @apply text-slate-400 bg-slate-800 w-64 h-16 self-center mt-5 border-2 border-cyan-800 text-xl md:text-2xl rounded-xl;
  }

  &__field {
    display: grid;
    grid-template-columns: 10px 1fr;
    justify-items: center;
    align-items: center;
    @apply gap-10 h-12;
  }
}

.field {
  &__label {
    @apply text-slate-400 text-xl md:text-3xl;
  }

  &__input {
    @apply bg-slate-500 h-8 w-72 max-w-xl md:h-10 md:w-4/5 flex align-middle justify-center rounded-lg;
  }

  &__checkboxes {
    @apply flex gap-0.5 md:gap-5;
  }
}

.checkboxes {
  &__label {
    @apply text-slate-400 text-lg md:text-2xl flex flex-nowrap gap-0.5 md:gap-1.5 items-center;
  }

  &__checkbox {
    @apply w-5 h-5;
  }
}

.results {
  @include card;
  @apply mt-2 md:mt-10 w-full;
}
