.point-panel {
  > * {
    @apply rounded-xl border-4 border-cyan-800;
  }

  &__point-form {
    @apply overflow-auto;
  }
}

.point-form {

  &__submit {
    @apply text-slate-400 bg-slate-800 w-64 h-16 self-center mt-5 border-2 border-cyan-800 text-2xl rounded-xl;
  }

  &__field {
    display: grid;
    grid-template-columns: 10px 1fr;
    justify-items: center;
    align-items: center;
    @apply gap-10 h-12;
  }
}

.field {
  &__label {
    @apply text-slate-400 text-3xl;
  }

  &__input {
    width: clamp(400px, 80%, 600px);
    @apply bg-slate-500 h-10 flex align-middle justify-center rounded-lg;
  }

  &__checkboxes {
    @apply flex gap-5;
  }
}

.checkboxes {
  &__label {
    @apply text-slate-400 text-2xl flex flex-nowrap gap-1.5 items-center;
  }

  &__checkbox {
    @apply w-5 h-5;
  }
}
